<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoyu.mapper.ActivitiesMapper">

    <resultMap id="BaseResultMap" type="com.gaoyu.entity.Activities">
            <id property="activityId" column="activity_id" jdbcType="INTEGER"/>
            <result property="clubId" column="club_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="maxParticipants" column="max_participants" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        activity_id,club_id,title,
        start_time,end_time,location,
        max_participants,status
    </sql>
</mapper>
